<div class="spinner" ng-show="!error && !numOfUsers">
    <span>Loading...</span>
</div>
<div class="error" ng-show="error">
    <span>{{error}}</span>
</div>
<div class="row" ng-show="numOfUsers">
    <div class="col-md-8 ccol-sm-8">
        <div class="row">
            <div class="profileimg col-md-2 col-xs-4">
                <img src="images/blank-profile-picture-973460_640.png">
            </div>
            <div class="col-md-10 col-xs-8">
                <h3 id="statictitle">Programmes - Dr Who</h3>
                <span>This project has {{numOfUsers}} users.</span>
            </div>
        </div>
        <div style="margin-top: 40px;">
            <h3>Latest Content</h3>
            <div tabs-dir allfiles="allfiles" show-files="showFiles" limit="limit" users="users"></div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 sidenav">
        <div class="content">
            <div class="filerow">
                <h3>File Types</h3>
            </div>
            <div class="showfiles" data-ng-repeat="type in alltypes">
                <div class="filerow">
                    <span class="elmtitle">{{$index}}. <a href="#">{{type.name}}</a> <span ng-show="type.documentsCount != 0">({{type.documentsCount}})</span></span>
                </div>
            </div>
        </div>
    </div>
</div>
